In [20]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [21]:
df = pd.read_csv("data/dataset_resume/Resume/Resume.csv")

In [22]:
df.head()

,ID,Resume_str,Resume_html,Category
0,16852973,HR ADMINISTRATOR/MARKETING ASSOCIATE\...,"<div class=""fontsize fontface vmargins hmargin...",HR
1,22323967,"HR SPECIALIST, US HR OPERATIONS ...","<div class=""fontsize fontface vmargins hmargin...",HR
2,33176873,HR DIRECTOR Summary Over 2...,"<div class=""fontsize fontface vmargins hmargin...",HR
3,27018550,HR SPECIALIST Summary Dedica...,"<div class=""fontsize fontface vmargins hmargin...",HR
4,17812897,HR MANAGER Skill Highlights ...,"<div class=""fontsize fontface vmargins hmargin...",HR

In [23]:
df.head(20)

,ID,Resume_str,Resume_html,Category
0,16852973,HR ADMINISTRATOR/MARKETING ASSOCIATE\...,"<div class=""fontsize fontface vmargins hmargin...",HR
1,22323967,"HR SPECIALIST, US HR OPERATIONS ...","<div class=""fontsize fontface vmargins hmargin...",HR
2,33176873,HR DIRECTOR Summary Over 2...,"<div class=""fontsize fontface vmargins hmargin...",HR
3,27018550,HR SPECIALIST Summary Dedica...,"<div class=""fontsize fontface vmargins hmargin...",HR
4,17812897,HR MANAGER Skill Highlights ...,"<div class=""fontsize fontface vmargins hmargin...",HR
5,11592605,HR GENERALIST Summary Dedic...,"<div class=""fontsize fontface vmargins hmargin...",HR
6,25824789,HR MANAGER Summary HUMAN RES...,"<div class=""fontsize fontface vmargins hmargin...",HR
7,15375009,HR MANAGER Professional Summa...,"<div class=""fontsize fontface vmargins hmargin...",HR
8,11847784,HR SPECIALIST Summary Posses...,"<div class=""fontsize fontface vmargins hmargin...",HR
9,32896934,HR CLERK Summary Translates ...,"<div class=""fontsize fontface vmargins hmargin...",HR
10,29149998,HR ASSISTANT Summary Highly ...,"<div class=""fontsize fontface vmargins hmargin...",HR
11,11480899,HR MANAGER Summary Human...,"<div class=""fontsize fontface vmargins hmargin...",HR
12,23155093,HR MANAGER Summary To obta...,"<div class=""fontsize fontface vmargins hmargin...",HR
13,11763983,HR GENERALIST Summary A peo...,"<div class=""fontsize fontface vmargins hmargin...",HR
14,27490876,HR COORDINATOR Summary App...,"<div class=""fontsize fontface vmargins hmargin...",HR
15,32977530,HR CLERK Summary I am an et...,"<div class=""fontsize fontface vmargins hmargin...",HR
16,93002334,HR ANALYST Summary Experi...,"<div class=""fontsize fontface vmargins hmargin...",HR
17,24184357,HR DIRECTOR Summary Huma...,"<div class=""fontsize fontface vmargins hmargin...",HR
18,73077810,HR GENERALIST/RECRUITER Sum...,"<div class=""fontsize fontface vmargins hmargin...",HR
19,13879043,HR CONSULTING Summary 7+ yea...,"<div class=""fontsize fontface vmargins hmargin...",HR

In [24]:
df.shape

(2484, 4)

##Categories

In [25]:
df["Category"].value_counts()

Category
INFORMATION-TECHNOLOGY    120
BUSINESS-DEVELOPMENT      120
ADVOCATE                  118
CHEF                      118
ENGINEERING               118
ACCOUNTANT                118
FINANCE                   118
FITNESS                   117
AVIATION                  117
SALES                     116
BANKING                   115
HEALTHCARE                115
CONSULTANT                115
CONSTRUCTION              112
PUBLIC-RELATIONS          111
HR                        110
DESIGNER                  107
ARTS                      103
TEACHER                   102
APPAREL                    97
DIGITAL-MEDIA              96
AGRICULTURE                63
AUTOMOBILE                 36
BPO                        22
Name: count, dtype: int64

## Checking Missing Values

In [26]:
print("Missing Values")
print(df.isnull().sum())

Missing Values
ID             0
Resume_str     0
Resume_html    0
Category       0
dtype: int64

In [27]:
df = df.drop_duplicates(subset="ID")
df

,ID,Resume_str,Resume_html,Category
0,16852973,HR ADMINISTRATOR/MARKETING ASSOCIATE\...,"<div class=""fontsize fontface vmargins hmargin...",HR
1,22323967,"HR SPECIALIST, US HR OPERATIONS ...","<div class=""fontsize fontface vmargins hmargin...",HR
2,33176873,HR DIRECTOR Summary Over 2...,"<div class=""fontsize fontface vmargins hmargin...",HR
3,27018550,HR SPECIALIST Summary Dedica...,"<div class=""fontsize fontface vmargins hmargin...",HR
4,17812897,HR MANAGER Skill Highlights ...,"<div class=""fontsize fontface vmargins hmargin...",HR
...,...,...,...,...
2479,99416532,RANK: SGT/E-5 NON- COMMISSIONED OFFIC...,"<div class=""fontsize fontface vmargins hmargin...",AVIATION
2480,24589765,"GOVERNMENT RELATIONS, COMMUNICATIONS ...","<div class=""fontsize fontface vmargins hmargin...",AVIATION
2481,31605080,GEEK SQUAD AGENT Professional...,"<div class=""fontsize fontface vmargins hmargin...",AVIATION
2482,21190805,PROGRAM DIRECTOR / OFFICE MANAGER ...,"<div class=""fontsize fontface vmargins hmargin...",AVIATION
2483,37473139,STOREKEEPER II Professional Sum...,"<div class=""fontsize fontface vmargins hmargin...",AVIATION

In [28]:
pip install beautifulsoup4 lxml html5lib

Requirement already satisfied: beautifulsoup4 in d:\project7\career-link\venv\lib\site-packages (4.13.4)
Requirement already satisfied: lxml in d:\project7\career-link\venv\lib\site-packages (5.4.0)
Requirement already satisfied: html5lib in d:\project7\career-link\venv\lib\site-packages (1.1)
Requirement already satisfied: soupsieve>1.2 in d:\project7\career-link\venv\lib\site-packages (from beautifulsoup4) (2.7)
Requirement already satisfied: typing-extensions>=4.0.0 in d:\project7\career-link\venv\lib\site-packages (from beautifulsoup4) (4.14.0)
Requirement already satisfied: six>=1.9 in d:\project7\career-link\venv\lib\site-packages (from html5lib) (1.17.0)
Requirement already satisfied: webencodings in d:\project7\career-link\venv\lib\site-packages (from html5lib) (0.5.1)
Note: you may need to restart the kernel to use updated packages.

In [29]:
import bs4
print(bs4.__version__)

4.13.4

In [13]:
# Reload CSV to bring back Resume_html
#df = pd.read_csv("data/dataset_resume/Resume/Resume.csv")  # <- this should include Resume_html
# Then apply
#df["Experience"] = df["Resume_html"].apply(strip_html)

In [30]:
from bs4 import BeautifulSoup


def strip_html(text):
    return BeautifulSoup(text, "html.parser").get_text()

df["Experience"] = df["Resume_html"].apply(strip_html)

In [31]:
df.head(10)

,ID,Resume_str,Resume_html,Category,Experience
0,16852973,HR ADMINISTRATOR/MARKETING ASSOCIATE\...,"<div class=""fontsize fontface vmargins hmargin...",HR,HR ADMINISTRATOR/MARKETING ASSOCIATE\...
1,22323967,"HR SPECIALIST, US HR OPERATIONS ...","<div class=""fontsize fontface vmargins hmargin...",HR,"HR SPECIALIST, US HR OPERATIONS ..."
2,33176873,HR DIRECTOR Summary Over 2...,"<div class=""fontsize fontface vmargins hmargin...",HR,HR DIRECTOR Summary Over 2...
3,27018550,HR SPECIALIST Summary Dedica...,"<div class=""fontsize fontface vmargins hmargin...",HR,HR SPECIALIST Summary Dedica...
4,17812897,HR MANAGER Skill Highlights ...,"<div class=""fontsize fontface vmargins hmargin...",HR,HR MANAGER Skill Highlights ...
5,11592605,HR GENERALIST Summary Dedic...,"<div class=""fontsize fontface vmargins hmargin...",HR,HR GENERALIST Summary Dedic...
6,25824789,HR MANAGER Summary HUMAN RES...,"<div class=""fontsize fontface vmargins hmargin...",HR,HR MANAGER Summary HUMAN RES...
7,15375009,HR MANAGER Professional Summa...,"<div class=""fontsize fontface vmargins hmargin...",HR,HR MANAGER Professional Summa...
8,11847784,HR SPECIALIST Summary Posses...,"<div class=""fontsize fontface vmargins hmargin...",HR,HR SPECIALIST Summary Posses...
9,32896934,HR CLERK Summary Translates ...,"<div class=""fontsize fontface vmargins hmargin...",HR,HR CLERK Summary Translates ...

In [32]:
import re

def normalize(text):
   
    text = text.lower()
   
    text = re.sub(r'[^a-zA-Z0-9 ]', ' ', text)
   
    text = re.sub(r'\s+', ' ', text)
    return text.strip()



print("Columns in df:")
print(df.columns)


df['Resume_normalized'] = df['Experience'].apply(normalize)


df

Columns in df:
Index(['ID', 'Resume_str', 'Resume_html', 'Category', 'Experience'], dtype='object')

,ID,Resume_str,Resume_html,Category,Experience,Resume_normalized
0,16852973,HR ADMINISTRATOR/MARKETING ASSOCIATE\...,"<div class=""fontsize fontface vmargins hmargin...",HR,HR ADMINISTRATOR/MARKETING ASSOCIATE\...,hr administrator marketing associate hr admini...
1,22323967,"HR SPECIALIST, US HR OPERATIONS ...","<div class=""fontsize fontface vmargins hmargin...",HR,"HR SPECIALIST, US HR OPERATIONS ...",hr specialist us hr operations summary versati...
2,33176873,HR DIRECTOR Summary Over 2...,"<div class=""fontsize fontface vmargins hmargin...",HR,HR DIRECTOR Summary Over 2...,hr director summary over 20 years experience i...
3,27018550,HR SPECIALIST Summary Dedica...,"<div class=""fontsize fontface vmargins hmargin...",HR,HR SPECIALIST Summary Dedica...,hr specialist summary dedicated driven and dyn...
4,17812897,HR MANAGER Skill Highlights ...,"<div class=""fontsize fontface vmargins hmargin...",HR,HR MANAGER Skill Highlights ...,hr manager skill highlights hr skills hr depar...
...,...,...,...,...,...,...
2479,99416532,RANK: SGT/E-5 NON- COMMISSIONED OFFIC...,"<div class=""fontsize fontface vmargins hmargin...",AVIATION,RANK: SGT/E-5 NON- COMMISSIONED OFFIC...,rank sgt e 5 non commissioned officer in charg...
2480,24589765,"GOVERNMENT RELATIONS, COMMUNICATIONS ...","<div class=""fontsize fontface vmargins hmargin...",AVIATION,"GOVERNMENT RELATIONS, COMMUNICATIONS ...",government relations communications and organi...
2481,31605080,GEEK SQUAD AGENT Professional...,"<div class=""fontsize fontface vmargins hmargin...",AVIATION,GEEK SQUAD AGENT Professional...,geek squad agent professional profile it suppo...
2482,21190805,PROGRAM DIRECTOR / OFFICE MANAGER ...,"<div class=""fontsize fontface vmargins hmargin...",AVIATION,PROGRAM DIRECTOR / OFFICE MANAGER ...,program director office manager summary highly...
2483,37473139,STOREKEEPER II Professional Sum...,"<div class=""fontsize fontface vmargins hmargin...",AVIATION,STOREKEEPER II Professional Sum...,storekeeper ii professional summary the purpos...

In [33]:
import re

def extract_experience_sentences(text):
    """Split text into sentences and filter those related to experience."""
    # Split by sentence endings
    sentences = re.split(r'[.!?]', text)
    # Filter for those that mention experience
    return [s.strip() for s in sentences if 'experience' in s.lower()]
    

# Apply this to create a new column with experience-related sentences
df['Experience_sentences'] = df['Experience'].apply(extract_experience_sentences)

In [34]:
df

,ID,Resume_str,Resume_html,Category,Experience,Resume_normalized,Experience_sentences
0,16852973,HR ADMINISTRATOR/MARKETING ASSOCIATE\...,"<div class=""fontsize fontface vmargins hmargin...",HR,HR ADMINISTRATOR/MARKETING ASSOCIATE\...,hr administrator marketing associate hr admini...,[HR ADMINISTRATOR/MARKETING ASSOCIATE\n\nHR AD...
1,22323967,"HR SPECIALIST, US HR OPERATIONS ...","<div class=""fontsize fontface vmargins hmargin...",HR,"HR SPECIALIST, US HR OPERATIONS ...",hr specialist us hr operations summary versati...,[Experience 09/2015 to Current HR ...
2,33176873,HR DIRECTOR Summary Over 2...,"<div class=""fontsize fontface vmargins hmargin...",HR,HR DIRECTOR Summary Over 2...,hr director summary over 20 years experience i...,[HR DIRECTOR Summary Over 20 years ...
3,27018550,HR SPECIALIST Summary Dedica...,"<div class=""fontsize fontface vmargins hmargin...",HR,HR SPECIALIST Summary Dedica...,hr specialist summary dedicated driven and dyn...,[Inbound and Outbound contact center experienc...
4,17812897,HR MANAGER Skill Highlights ...,"<div class=""fontsize fontface vmargins hmargin...",HR,HR MANAGER Skill Highlights ...,hr manager skill highlights hr skills hr depar...,[HR MANAGER Skill Highlights ...
...,...,...,...,...,...,...,...
2479,99416532,RANK: SGT/E-5 NON- COMMISSIONED OFFIC...,"<div class=""fontsize fontface vmargins hmargin...",AVIATION,RANK: SGT/E-5 NON- COMMISSIONED OFFIC...,rank sgt e 5 non commissioned officer in charg...,[With no prior experience was able to quickly ...
2480,24589765,"GOVERNMENT RELATIONS, COMMUNICATIONS ...","<div class=""fontsize fontface vmargins hmargin...",AVIATION,"GOVERNMENT RELATIONS, COMMUNICATIONS ...",government relations communications and organi...,"[GOVERNMENT RELATIONS, COMMUNICATIONS AND ORGA..."
2481,31605080,GEEK SQUAD AGENT Professional...,"<div class=""fontsize fontface vmargins hmargin...",AVIATION,GEEK SQUAD AGENT Professional...,geek squad agent professional profile it suppo...,[GEEK SQUAD AGENT Professional Profile...
2482,21190805,PROGRAM DIRECTOR / OFFICE MANAGER ...,"<div class=""fontsize fontface vmargins hmargin...",AVIATION,PROGRAM DIRECTOR / OFFICE MANAGER ...,program director office manager summary highly...,[PROGRAM DIRECTOR / OFFICE MANAGER S...
2483,37473139,STOREKEEPER II Professional Sum...,"<div class=""fontsize fontface vmargins hmargin...",AVIATION,STOREKEEPER II Professional Sum...,storekeeper ii professional summary the purpos...,[STOREKEEPER II Professional Summary ...

In [39]:
import re

# Strip out newlines and excess spaces first
def clean_newlines(text):
    return " ".join(text.split())  # This converts all whitespace (newlines, tabs, multiple spaces) into single spaces


# Split cleaned text into sentences
def extract_sentences(text):
    cleaned = clean_newlines(text)
    return re.split(r'(?<=[.!?]) +', cleaned)


# Apply this to your parsed Experience column
df['Experience_sentences'] = df['Experience'].apply(extract_sentences)


# Now view the first few to confirm
df.head(5)

In [40]:
df

,ID,Resume_str,Resume_html,Category,Experience,Resume_normalized,Experience_sentences
0,16852973,HR ADMINISTRATOR/MARKETING ASSOCIATE\...,"<div class=""fontsize fontface vmargins hmargin...",HR,HR ADMINISTRATOR/MARKETING ASSOCIATE\...,hr administrator marketing associate hr admini...,[HR ADMINISTRATOR/MARKETING ASSOCIATE HR ADMI...
1,22323967,"HR SPECIALIST, US HR OPERATIONS ...","<div class=""fontsize fontface vmargins hmargin...",HR,"HR SPECIALIST, US HR OPERATIONS ...",hr specialist us hr operations summary versati...,"[HR SPECIALIST, US HR OPERATIONS Summary..."
2,33176873,HR DIRECTOR Summary Over 2...,"<div class=""fontsize fontface vmargins hmargin...",HR,HR DIRECTOR Summary Over 2...,hr director summary over 20 years experience i...,[HR DIRECTOR Summary Over 20 years ...
3,27018550,HR SPECIALIST Summary Dedica...,"<div class=""fontsize fontface vmargins hmargin...",HR,HR SPECIALIST Summary Dedica...,hr specialist summary dedicated driven and dyn...,"[HR SPECIALIST Summary Dedicated, Dri..."
4,17812897,HR MANAGER Skill Highlights ...,"<div class=""fontsize fontface vmargins hmargin...",HR,HR MANAGER Skill Highlights ...,hr manager skill highlights hr skills hr depar...,[HR MANAGER Skill Highlights ...
...,...,...,...,...,...,...,...
2479,99416532,RANK: SGT/E-5 NON- COMMISSIONED OFFIC...,"<div class=""fontsize fontface vmargins hmargin...",AVIATION,RANK: SGT/E-5 NON- COMMISSIONED OFFIC...,rank sgt e 5 non commissioned officer in charg...,[RANK: SGT/E-5 NON- COMMISSIONED OFFICER IN CH...
2480,24589765,"GOVERNMENT RELATIONS, COMMUNICATIONS ...","<div class=""fontsize fontface vmargins hmargin...",AVIATION,"GOVERNMENT RELATIONS, COMMUNICATIONS ...",government relations communications and organi...,"[GOVERNMENT RELATIONS, COMMUNICATIONS AND ORGA..."
2481,31605080,GEEK SQUAD AGENT Professional...,"<div class=""fontsize fontface vmargins hmargin...",AVIATION,GEEK SQUAD AGENT Professional...,geek squad agent professional profile it suppo...,[GEEK SQUAD AGENT Professional Profile...
2482,21190805,PROGRAM DIRECTOR / OFFICE MANAGER ...,"<div class=""fontsize fontface vmargins hmargin...",AVIATION,PROGRAM DIRECTOR / OFFICE MANAGER ...,program director office manager summary highly...,[PROGRAM DIRECTOR / OFFICE MANAGER S...
2483,37473139,STOREKEEPER II Professional Sum...,"<div class=""fontsize fontface vmargins hmargin...",AVIATION,STOREKEEPER II Professional Sum...,storekeeper ii professional summary the purpos...,[STOREKEEPER II Professional Summary ...