In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("data/dataset_resume/Resume/Resume.csv")

In [3]:
df.head()

,ID,Resume_str,Resume_html,Category
0,16852973,HR ADMINISTRATOR/MARKETING ASSOCIATE\...,"<div class=""fontsize fontface vmargins hmargin...",HR
1,22323967,"HR SPECIALIST, US HR OPERATIONS ...","<div class=""fontsize fontface vmargins hmargin...",HR
2,33176873,HR DIRECTOR Summary Over 2...,"<div class=""fontsize fontface vmargins hmargin...",HR
3,27018550,HR SPECIALIST Summary Dedica...,"<div class=""fontsize fontface vmargins hmargin...",HR
4,17812897,HR MANAGER Skill Highlights ...,"<div class=""fontsize fontface vmargins hmargin...",HR

In [4]:
df.head(20)

,ID,Resume_str,Resume_html,Category
0,16852973,HR ADMINISTRATOR/MARKETING ASSOCIATE\...,"<div class=""fontsize fontface vmargins hmargin...",HR
1,22323967,"HR SPECIALIST, US HR OPERATIONS ...","<div class=""fontsize fontface vmargins hmargin...",HR
2,33176873,HR DIRECTOR Summary Over 2...,"<div class=""fontsize fontface vmargins hmargin...",HR
3,27018550,HR SPECIALIST Summary Dedica...,"<div class=""fontsize fontface vmargins hmargin...",HR
4,17812897,HR MANAGER Skill Highlights ...,"<div class=""fontsize fontface vmargins hmargin...",HR
5,11592605,HR GENERALIST Summary Dedic...,"<div class=""fontsize fontface vmargins hmargin...",HR
6,25824789,HR MANAGER Summary HUMAN RES...,"<div class=""fontsize fontface vmargins hmargin...",HR
7,15375009,HR MANAGER Professional Summa...,"<div class=""fontsize fontface vmargins hmargin...",HR
8,11847784,HR SPECIALIST Summary Posses...,"<div class=""fontsize fontface vmargins hmargin...",HR
9,32896934,HR CLERK Summary Translates ...,"<div class=""fontsize fontface vmargins hmargin...",HR
10,29149998,HR ASSISTANT Summary Highly ...,"<div class=""fontsize fontface vmargins hmargin...",HR
11,11480899,HR MANAGER Summary Human...,"<div class=""fontsize fontface vmargins hmargin...",HR
12,23155093,HR MANAGER Summary To obta...,"<div class=""fontsize fontface vmargins hmargin...",HR
13,11763983,HR GENERALIST Summary A peo...,"<div class=""fontsize fontface vmargins hmargin...",HR
14,27490876,HR COORDINATOR Summary App...,"<div class=""fontsize fontface vmargins hmargin...",HR
15,32977530,HR CLERK Summary I am an et...,"<div class=""fontsize fontface vmargins hmargin...",HR
16,93002334,HR ANALYST Summary Experi...,"<div class=""fontsize fontface vmargins hmargin...",HR
17,24184357,HR DIRECTOR Summary Huma...,"<div class=""fontsize fontface vmargins hmargin...",HR
18,73077810,HR GENERALIST/RECRUITER Sum...,"<div class=""fontsize fontface vmargins hmargin...",HR
19,13879043,HR CONSULTING Summary 7+ yea...,"<div class=""fontsize fontface vmargins hmargin...",HR

In [5]:
df.shape

(2484, 4)

##Categories

In [7]:
df["Category"].value_counts()

Category
INFORMATION-TECHNOLOGY    120
BUSINESS-DEVELOPMENT      120
ADVOCATE                  118
CHEF                      118
ENGINEERING               118
ACCOUNTANT                118
FINANCE                   118
FITNESS                   117
AVIATION                  117
SALES                     116
BANKING                   115
HEALTHCARE                115
CONSULTANT                115
CONSTRUCTION              112
PUBLIC-RELATIONS          111
HR                        110
DESIGNER                  107
ARTS                      103
TEACHER                   102
APPAREL                    97
DIGITAL-MEDIA              96
AGRICULTURE                63
AUTOMOBILE                 36
BPO                        22
Name: count, dtype: int64